.slider-temperature {
  display: flex;
  align-items: center;
  gap: 1rem;
  flex-direction: column;
  align-items: flex-start;
}

.slider-temperature__box {
  display: flex;
  align-items: center;
  gap: 1rem;
  flex: 1;
  width: 100%;
}

@media screen and (min-width: 516px) {
  .slider-temperature {
    flex-direction: row;
    align-items: center;
  }
}

.slider-temperature__value {
  min-width: 50px;
  font-weight: 500;
  white-space: nowrap;
}

.slider-temperature__slider {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  cursor: pointer;
  outline: none;
  overflow: hidden;
  border-radius: 16px;
  height: 17px;
}

/* USE FOR webkit browsers */
.slider-temperature__slider::-webkit-slider-runnable-track {
  height: 17px;
  background: #ccc;
  border-radius: 17px;
}

.slider-temperature__slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  height: 17px;
  width: 17px;
  background-color: #fff;
  border-radius: 50%;
  border: 2px solid var(--main-color);
  box-shadow: -407px 0 0 400px var(--main-color);
}

/* USE FOR Mozilla Firefox  */
.slider-temperature__slider::-moz-range-track {
  height: 15px;
  background: #ccc;
  border-radius: 16px;
}

.slider-temperature__slider::-moz-range-thumb {
  height: 15px;
  width: 15px;
  background-color: #fff;
  border-radius: 50%;
  border: 1px solid var(--main-color);
  box-shadow: -407px 0 0 400px var(--main-color);
}
